<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>布瑞亭</title>
  <link rel="stylesheet" href="./style/index.css">
  <script src="./js/size.js"></script>
</head>
<body>
  <section class="container">
    <!-- pages -->
    <section class="page page1 active">
      <article class="p1-text1">
        <p>从第一个单细胞生命</p>
        <p>在大海诞生</p>
        <p>到旅行者号飞出太阳系</p>
        <p>生命的刻度尺</p>
        <p>从未停止过丈量深邃的星空</p>
      </article>
      <section class="p1-img1 section-img">
        <img src="./static/img/p1-img1.png" />
      </section>
      <article class="p1-text2">
        <p>蜕变</p>
        <p>无时无刻不在发生</p>
      </article>
      <section class="p1-img2 section-img" data-click="switch" data-target="1">
        <img src="./static/img/p1-img2.png" />
      </section>
    </section>
    <section class="page page2">
      <article class="p2-text1">
        <p>对于未来的探索</p>
        <p>从未止步</p>
      </article>
      <section class="p2-img1 section-img">
        <img src="./static/img/p2-img1.png" />
      </section>
      <article class="p2-text2">
        <p>每一次进步</p>
        <p>皆因一个伟大的念想</p>
      </article>
      <section class="p2-img2 section-img">
        <img src="./static/img/p2-img2.png" />
      </section>
      <section class="p2-img3 section-img">
        <img src="./static/img/p2-img3.png" />
      </section>
    </section>
    <!-- other -->
    <section class="block"></section>
    <section class="button--music section-img">
      <img src="./static/img/icon-music.png" />
    </section>
  </section>
  <script src="./js/index.js"></script>
</body>
</html>