<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,viewport-fit=cover" />
  <title>布瑞亭</title>
  <link rel="stylesheet" href="./style/index.css">
  <script src="./js/size.js"></script>
</head>
<body>
  <section class="container">
    <!-- pages -->
    <section class="page page1 active">
      <article class="p1-text1 article-text">
        <p>从第一个单细胞生命</p>
        <p>在大海诞生</p>
        <p>到旅行者号飞出太阳系</p>
        <p>生命的刻度尺</p>
        <p>从未停止过丈量深邃的星空</p>
      </article>
      <section class="p1-img1 section-img">
        <img src="./static/img/p1-img1.png" />
      </section>
      <article class="p1-text2 article-text">
        <p>蜕变</p>
        <p>无时无刻不在发生</p>
      </article>
      <section class="p1-img2 section-img" data-click="switch" data-target="1">
        <img src="./static/img/breath-light.png" />
      </section>
    </section>
    <section class="page page2" data-enter="switch" data-leave-delay="1000" data-target="2">
      <article class="p2-text1 article-text">
        <p>对于未来的探索</p>
        <p>从未止步</p>
      </article>
      <section class="p2-img1 section-img">
        <img src="./static/img/p2-img1.png" />
      </section>
      <article class="p2-text2 article-text">
        <p>每一次进步</p>
        <p>皆因一个伟大的念想</p>
      </article>
      <section class="p2-img2 section-img">
        <img src="./static/img/p2-img2.png" />
      </section>
      <section class="p2-img3 section-img">
        <img src="./static/img/p2-img3.png" />
      </section>
    </section>
    <section class="page page3" data-click="switch" data-target="3" data-block-opacity="0.8">
      <article class="p3-title article-title">横空出世</article>
      <article class="p3-text1 article-text">
        <p>2017年布瑞亭®正式获批，</p>
        <p>与中国麻醉科医生一同“启布•共创”</p>
      </article>
      <section class="p3-img1 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 602 200">
          <defs>
            <style>.cls-1{fill:none;stroke:#f48f01;stroke-miterlimit:10;}</style>
          </defs>
          <g id="l1" data-name="l1">
            <g id="l2" data-name="l2">
              <path class="cls-1" d="
                M 560 200
                H 40
                A 40, 40, 0, 0, 1, 0, 160
                V 75
                A 40, 40, 0, 0, 1, 40, 40
                H 275
                L 300 0
                L 325 40
                H 560
                A 40, 40, 0, 0, 1, 600, 80
                V 160
                A 40, 40, 0, 0, 1, 560, 200
                Z
              "/>
            </g>
          </g>
        </svg>
      </section>
      <section class="p3-img2 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 385.9 100.64">
          <g><path class="p3-dark-line" d="M.42,100.38S102-61.13,385.75,26.62" stroke-width="4"/></g>
        </svg>
      </section>
      <section class="p3-img3 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 385.9 100.64">
          <g><path class="p3-light-line" d="M.42,100.38S102-61.13,385.75,26.62" stroke-width="4"/></g>
        </svg>
      </section>
      <section class="p3-img4 section-img">
        <img src="./static/img/circle.png" />
      </section>
      <section class="p1-img2 section-img">
        <img src="./static/img/breath-light.png" />
      </section>
    </section>
    <section class="page page4" data-enter-delay="1000" data-click="switch" data-target="4" data-block-opacity="0.6">
      <article class="p4-title article-title">见证麻醉学科历史性转变</article>
      <article class="p4-text1 article-text">
        <p>• 2017年发表《肌肉松弛合理应用的专家共识2017版》修订</p>
        <p>• 2018年发表《加速康复外科中国专家共识及路径管理指南》(2018版)</p>
      </article>
      <section class="p4-img1 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 602 330">
          <defs>
            <style>.cls-1{fill:none;stroke:#f48f01;stroke-miterlimit:10;}</style>
          </defs>
          <g id="l1" data-name="l1">
            <g id="l2" data-name="l2">
              <path class="cls-1" d="
                M 560 330
                H 40
                A 40, 40, 0, 0, 1, 0, 290
                V 75
                A 40, 40, 0, 0, 1, 40, 40
                H 275
                L 300 0
                L 325 40
                H 560
                A 40, 40, 0, 0, 1, 600, 80
                V 290
                A 40, 40, 0, 0, 1, 560, 330
                Z
              "/>
            </g>
          </g>
        </svg>
      </section>
      <section class="p4-img2 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 752.89 136.97">
          <g><path class="p4-dark-line" d="M752.88.5C668.39,2.72,567.31,15.82,508.42,45.42L397.85,101A333.14,333.14,0,0,1,93.2,98.18l-93-48.9" stroke-width="4"/></g>
        </svg>
      </section>
      <section class="p4-img3 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 752.89 136.97">
          <g><path class="p4-light-line" d="M752.88.5C668.39,2.72,567.31,15.82,508.42,45.42L397.85,101A333.14,333.14,0,0,1,93.2,98.18l-93-48.9" stroke-width="4"/></g>
        </svg>
      </section>
      <section class="p4-img4 section-img">
        <img src="./static/img/circle.png" />
      </section>
      <section class="p1-img2 section-img">
        <img src="./static/img/breath-light.png" />
      </section>
      <article class="p4-text2 article-text">
        <p>*麻醉学科从“手术室医学”发展成“围术期医学”</p>
      </article>
    </section>
    <section class="page page5" data-enter-delay="1000" data-click="switch" data-target="5" data-block-opacity="0.4">
      <article class="p5-title article-title">专注共同成长</article>
      <article class="p5-text1 article-text">
        <p>助力学科长远发展</p>
      </article>
      <section class="p5-img1 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 602 150">
          <defs>
            <style>.cls-1{fill:none;stroke:#f48f01;stroke-miterlimit:10;}</style>
          </defs>
          <g id="l1" data-name="l1">
            <g id="l2" data-name="l2">
              <path class="cls-1" d="
                M 560 150
                H 40
                A 40, 40, 0, 0, 1, 0, 110
                V 75
                A 40, 40, 0, 0, 1, 40, 40
                H 275
                L 300 0
                L 325 40
                H 560
                A 40, 40, 0, 0, 1, 600, 80
                V 110
                A 40, 40, 0, 0, 1, 560, 150
                Z
              "/>
            </g>
          </g>
        </svg>
      </section>
      <section class="p5-img2 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 391 132">
          <g><path class="p5-dark-line" d="M0,0 s163.32-6.7,380.09,111.75" stroke-width="4"/></g>
        </svg>
      </section>
      <section class="p5-img3 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 391 132">
          <g><path class="p5-light-line" d="M0,0 s163.32-6.7,380.09,111.75" stroke-width="4"/></g>
        </svg>
      </section>
      <section class="p5-img4 section-img">
        <img src="./static/img/circle.png" />
      </section>
      <section class="p1-img2 section-img">
        <img src="./static/img/breath-light.png" />
      </section>
      <article class="p5-text2 article-text">
        <p>2018年精准肌松·吴阶平医学基金·全麻肌松</p>
        <p>拮抗及加速术后康复基金资助项目正式启动。</p>
      </article>
    </section>
    <section class="page page6" data-enter-delay="1000" data-click="switch" data-target="6" data-block-opacity="0.2">
      <article class="p6-title article-title">
        <p>致力于提升麻醉学科的</p>
        <p>社会价值</p>
      </article>
      <article class="p6-text1 article-text">
        <p>携手全国麻醉大咖共同编撰《腹腔镜手</p>
        <p>术麻醉管理ERAS临床实践》</p>
      </article>
      <section class="p6-img1 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 602 200">
          <g id="l1" data-name="l1">
            <g id="l2" data-name="l2">
              <path class="cls-2" d="
                M 560 200
                H 40
                A 40, 40, 0, 0, 1, 0, 160
                V 75
                A 40, 40, 0, 0, 1, 40, 40
                H 275
                L 300 0
                L 325 40
                H 560
                A 40, 40, 0, 0, 1, 600, 80
                V 160
                A 40, 40, 0, 0, 1, 560, 200
                Z
              "/>
            </g>
          </g>
        </svg>
      </section>
      <section class="p6-img2 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 752.89 136.97">
          <g><path class="p6-dark-line" d="M752.88.5C668.39,2.72,567.31,15.82,508.42,45.42L397.85,101A333.14,333.14,0,0,1,93.2,98.18l-93-48.9" stroke-width="4"/></g>
        </svg>
      </section>
      <section class="p6-img3 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 752.89 136.97">
          <g><path class="p6-light-line" d="M752.88.5C668.39,2.72,567.31,15.82,508.42,45.42L397.85,101A333.14,333.14,0,0,1,93.2,98.18l-93-48.9" stroke-width="4"/></g>
        </svg>
      </section>
      <section class="p6-img4 section-img">
        <img src="./static/img/circle.png" />
      </section>
      <section class="p1-img2 section-img">
        <img src="./static/img/breath-light.png" />
      </section>
    </section>
    <section class="page page7" data-enter-delay="1000" data-block-opacity="0">
      <article class="p7-title article-title">继往开来  携手共行</article>
      <article class="p7-text1 article-text">
        <p>非凡开启，不凡相伴</p>
        <p>让我们一同砥砺前行</p>
      </article>
      <section class="p7-img1 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 602 200">
          <g id="l1" data-name="l1">
            <g id="l2" data-name="l2">
              <path class="cls-2" d="
                M 560 200
                H 40
                A 40, 40, 0, 0, 1, 0, 160
                V 75
                A 40, 40, 0, 0, 1, 40, 40
                H 275
                L 300 0
                L 325 40
                H 560
                A 40, 40, 0, 0, 1, 600, 80
                V 160
                A 40, 40, 0, 0, 1, 560, 210
                Z
              "/>
            </g>
          </g>
        </svg>
      </section>
      <section class="p7-img2 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 391 132">
          <g><path class="p7-dark-line" d="M0,0 s163.32-6.7,380.09,111.75" stroke-width="4"/></g>
        </svg>
      </section>
      <section class="p7-img3 section-img">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 391 132">
          <g><path class="p7-light-line" d="M0,0 s163.32-6.7,380.09,111.75" stroke-width="4"/></g>
        </svg>
      </section>
      <section class="p7-img4 section-img">
        <img src="./static/img/circle.png" />
      </section>
      <section class="p7-img5 section-img" data-click="switch" data-target="7">
        <img src="./static/img/fingerprint.png" />
      </section>
      <article class="p7-text2 article-text">
        <p>共同开启</p>
        <p>2020麻醉2.0时代</p>
      </article>
    </section>
    <section class="page page8" data-enter-delay="1000">
      <section class="p8-img1 section-img">
        <img src="./static/img/budaozhongguo.png" alt="">
        <!-- <section class="anim-light"></section> -->
      </section>
      <!-- <section class="p8-img2 section-img">
        <svg id="light-path" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256.35 380">
          <g id="l1" data-name="l1">
            <path class="light-path" d="M50.68,53.44c9.43,4,42.84,16.6,76.21,1.67a81.89,81.89,0,0,0,20-12.8c-10.36-2.53-21.12-7.25-25.59-16.69-5.68-12,2-24.82.56-25.59C115.91-3.1-3,217.57.06,219.21c1.72.92,33.21-71,56.74-66.2,14.28,2.92,14.18,43.57,21.14,43.4,4-.1,3.94-15,9.46-28.37,14.23-34.5,65.63-59.58,86.22-45.07,19.52,13.76,15,65.62-2.78,72.88-10.05,4.1-24.42-6-32.35-15.07-25.6-29.16-13.55-80.16-12.15-80.06s-.41,47.49-11.68,228.09"/>
          </g>
          <animateMotion
            id="animateMotion"
            xlink:href="#lightball"
            path="M50.68,53.44c9.43,4,42.84,16.6,76.21,1.67a81.89,81.89,0,0,0,20-12.8c-10.36-2.53-21.12-7.25-25.59-16.69-5.68-12,2-24.82.56-25.59C115.91-3.1-3,217.57.06,219.21c1.72.92,33.21-71,56.74-66.2,14.28,2.92,14.18,43.57,21.14,43.4,4-.1,3.94-15,9.46-28.37,14.23-34.5,65.63-59.58,86.22-45.07,19.52,13.76,15,65.62-2.78,72.88-10.05,4.1-24.42-6-32.35-15.07-25.6-29.16-13.55-80.16-12.15-80.06s-.41,47.49-11.68,228.09"
            dur="6s"
            repeatCount="indefinite">
          </animateMotion> 
          <g id="lightball">
            <image 
                xlink:href="./static/img/circle.png"
                x="0" y="0"
                class="lightball"
                height="80" width="80" />
          </g>
        </svg>
      </section> -->
      <section class="p8-text1 article-text">
        <p><i class="icon-2"></i><label>2020年8月6-7日</label></p>
        <p><i class="icon-1"></i><label>全网同步直播</label></p>
      </section>
    </section>
    <!-- other -->
    <section class="block"></section>
    <section class="button--music section-img">
      <img src="./static/img/icon-music.png" />
    </section>
  </section>
  <script src="./js/index.js"></script>
</body>
</html>