<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>导出数据报表</title>
  <style>
    table {
      border: 1px solid #CCC;
      border-collapse: collapse;
    }
    th, td {
      border: 1px solid #CCC;
      text-align: left;
      line-height: 1.5;
      padding: 10px;
    }
  </style>
</head>
<body>
  <div>
    项目名：<input id="projectName" type="text">
    <button id="detail">查看</button>
    <button id="export">导出</button>
  </div>
  <div class="content">
    <table id="table"></table>
  </div>
  <script src="https://unpkg.com/xlsx@0.14.1/dist/xlsx.full.min.js"></script>
  <script>
    const qsStringify = function (d) {
      let strs = [];
      for (let name in d) {
        strs.push(name + '=' + d[name]);
      }
      return strs.join('&');
    }

    const request = function (options) {
      let baseUrl = 'http://projects.zhangzhenkai.com/';
      // let baseUrl = 'http://localhost:7150/'
      let url = `${baseUrl}${options.url}`;
      const method = options.method;
      const config = {};
      config.method = method || 'get';
      if (method.toUpperCase() === 'POST') {
        config.body = JSON.stringify(options.data);
        // config.body = qsStringify(options.data);
      }
      if (options.params) url = url + '?' + qsStringify(options.params);
      config.headers = new Headers({
        'Content-Type': 'application/json'
        // 'Content-Type': 'multipart/form-data'
        // 'Content-Type': 'application/x-www-form-urlencoded'
      })

      return new Promise((resolve, reject) => {
        fetch(url, config)
        .then(response => {
          response.json().then(res => {
            resolve(res);
          })
        })
        .catch(res => {
          reject(res);
        })
      })
    }
    const getData = function () {
      return request({
        url: 'query',
        method: 'get',
        params: { projectName: document.getElementById('projectName').value, type: '1' },
      })
    }
    const data2Table = function () {
      return getData().then((res) => {
        if (res.code === 20000) {
          const columns = JSON.parse(res.data.columns[0].columns)
          console.log(columns)
          const data = res.data.data
          const tableData = []
          tableData.push(`<tr>${ Object.values(columns).map(v => `<th>${ v }</th>`).join('') }</tr>`)
          data.forEach((row, idx) => {
            const projectData = JSON.parse(row.project_data)
            tableData.push(`<tr>${ Object.keys(columns).map(v => `<td>${ projectData[v] === 'placeholder' ? '' : projectData[v] }</td>`).join('') }</tr>`)
          })
          document.getElementById('table').innerHTML = tableData.join('')
        } else {
          alert(res.message)
        }
        return res
      })
    }
    document.getElementById('detail').onclick = function () {
      data2Table()
    }
    function sheet2blob(sheet, sheetName) {
        sheetName = sheetName || 'sheet1';
        var workbook = {
            SheetNames: [sheetName],
            Sheets: {}
        };
        workbook.Sheets[sheetName] = sheet;
        // 生成excel的配置项
        var wopts = {
            bookType: 'xlsx', // 要生成的文件类型
            bookSST: false, // 是否生成Shared String Table，官方解释是，如果开启生成速度会下降，但在低版本IOS设备上有更好的兼容性
            type: 'binary'
        };
        var wbout = XLSX.write(workbook, wopts);
        var blob = new Blob([s2ab(wbout)], {type:"application/octet-stream"});
        // 字符串转ArrayBuffer
        function s2ab(s) {
            var buf = new ArrayBuffer(s.length);
            var view = new Uint8Array(buf);
            for (var i=0; i!=s.length; ++i) view[i] = s.charCodeAt(i) & 0xFF;
            return buf;
        }
        return blob;
    }
    function openDownloadDialog(url, saveName) {
        if(typeof url == 'object' && url instanceof Blob)
        {
            url = URL.createObjectURL(url); // 创建blob地址
        }
        var aLink = document.createElement('a');
        aLink.href = url;
        aLink.download = saveName || ''; // HTML5新增的属性，指定保存文件名，可以不要后缀，注意，file:///模式下不会生效
        var event;
        if(window.MouseEvent) event = new MouseEvent('click');
        else
        {
            event = document.createEvent('MouseEvents');
            event.initMouseEvent('click', true, false, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
        }
        aLink.dispatchEvent(event);
    }
    document.getElementById('export').onclick = function () {
      data2Table().then((res) => {
        if (res.code === 20000) {
          setTimeout(() => {
            const file = sheet2blob(XLSX.utils.table_to_sheet(document.getElementById('table')));
            openDownloadDialog(file, '导出文件.xlsx');
          }, 0)
        }
      })
    }
  </script>
</body>
</html>