<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>邀请函</title>
  <link rel="stylesheet" href="./static/style/index.css">
  <script src="./static/js/rem.js"></script>
</head>
<body>
  <div class="container">
    <div class="swiper">
      <div class="page page01">
        <div class="k-image img001">
          <img src="./static/img/img001.png" alt="">
        </div>
        <div class="k-image img002">
          <img src="./static/img/img002.png" alt="">
        </div>
        <div class="k-image img003">
          <img src="./static/img/img003.png" alt="">
        </div>
        <div class="k-image cloud1"></div>
        <div class="k-image cloud2"></div>
      </div>
      <div class="page page02">
        
      </div>
    </div>
  </div>
  <script>
    // alert(window.innerWidth + ',' + window.innerHeight)
    setTimeout(() => {
      document.querySelector('.page01').classList.add('active')
    }, 0);
  </script>
</body>
</html>