<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>邀请函</title>
  <link rel="stylesheet" href="./static/style/index.css">
  <link rel="stylesheet" href="./static/style/loading.css">
  <script src="./static/js/kpreload.js"></script>
  <script src="./static/js/rem.js"></script>
</head>
<body>
  <section class="container">
    <section class="bg"><section class="bg-top"></section></section>
    <section class="swiper">
      <section class="page page1">
        <div class="block-image image-logo"><img data-preload="./static/img/logo.png" alt=""></div>
        <div class="block-image image-main-title align-center"><img data-preload="./static/img/main-title.png" alt=""></div>
        <div class="block-image image-location align-center"><img data-preload="./static/img/location.png" alt=""></div>
        <div class="block-image image-page-1-image-1"><img data-preload="./static/img/page-1-image-1.png" alt=""></div>
        <div class="block-image image-page-1-image-2"><img data-preload="./static/img/page-1-image-2.png" alt=""></div>
        <div class="block-image image-page-1-image-3"><img data-preload="./static/img/page-1-image-3.png" alt=""></div>
      </section>
      <section class="page page2">
        <div class="block-image image-logo"><img data-preload="./static/img/logo.png" alt=""></div>
        <div class="block-image image-sub-title"><img data-preload="./static/img/sub-title.png" alt=""></div>
        <div class="block-image image-page-2-image-1 align-center"><img data-preload="./static/img/page-2-image-1.png" alt=""></div>
        <div class="block-image image-page-2-image-2"><img data-preload="./static/img/page-2-image-2.png" alt=""></div>
        <div class="block-image image-page-2-image-3"><img data-preload="./static/img/page-2-image-3.png" alt=""></div>
      </section>
      <section class="page page3">
        <div class="block-image image-logo"><img data-preload="./static/img/logo.png" alt=""></div>
        <div class="block-image image-main-title align-center"><img data-preload="./static/img/main-title.png" alt=""></div>
        <div class="block-image image-location align-center"><img data-preload="./static/img/location.png" alt=""></div>
        <div class="block-image image-page-3-image-1 align-center"><img data-preload="./static/img/page-3-image-1.png" alt=""></div>
      </section>
      <section class="page page4">
        <div class="block-image image-logo"><img data-preload="./static/img/logo.png" alt=""></div>
        <div class="block-image image-location align-center"><img data-preload="./static/img/location.png" alt=""></div>
        <div class="block-image image-page-4-image-0 align-center"><img data-preload="./static/img/page-4-image-0.png" alt=""></div>
        <div class="block-image image-page-4-image-1 align-center"><img data-preload="./static/img/page-4-image-1.png" alt=""></div>
        <div class="block-image image-page-4-image-2 align-center"><img data-preload="./static/img/page-4-image-2.png" alt=""></div>
        <div class="block-image image-page-4-image-3 align-center"><img data-preload="./static/img/page-4-image-3.png" alt=""></div>
        <div class="block-image image-page-4-image-4 align-center"><img data-preload="./static/img/page-4-image-4.png" alt=""></div>
        <div class="block-image image-page-4-image-5 align-center"><img data-preload="./static/img/page-4-image-5.png" alt=""></div>
        <div class="block-image image-page-4-image-6 align-center"><img data-preload="./static/img/page-4-image-6.png" alt=""></div>
        <div class="block-image image-page-4-image-7 align-center"><img data-preload="./static/img/page-4-image-7.png" alt=""></div>
        <div class="block-image image-page-4-image-8 align-center"><img data-preload="./static/img/page-4-image-8.png" alt=""></div>
        <div class="block-image image-page-4-image-9 align-center"><img data-preload="./static/img/page-4-image-9.png" alt=""></div>
        <div class="block-image image-page-4-image-10 align-center"><img data-preload="./static/img/page-4-image-10.png" alt=""></div>
        <div class="block-image image-page-4-image-11 align-center"><img data-preload="./static/img/page-4-image-11.png" alt=""></div>
        <div class="block-image image-page-4-image-12 align-center"><img data-preload="./static/img/page-4-image-12.png" alt=""></div>
        <div class="block-image image-page-4-image-13 align-center"><img data-preload="./static/img/page-4-image-13.png" alt=""></div>
      </section>
      <section class="page page5">
        <div class="block-image image-logo"><img data-preload="./static/img/logo.png" alt=""></div>
        <div class="block-image image-sub-title"><img data-preload="./static/img/sub-title.png" alt=""></div>
        <section class="parts">
          <section class="part part1">
            <div class="block-image image-part-1-1 align-center"><img data-preload="./static/img/part-1-1.png" alt=""></div>
            <div class="block-image image-part-1-2 align-center"><img data-preload="./static/img/part-1-2.png" alt=""></div>
            <div class="block-image image-thumb"><img data-preload="./static/img/thumb.png" alt=""></div>
          </section>
          <section class="part part2">
            <div class="block-image image-part-2-1 align-center"><img data-preload="./static/img/part-2-1.png" alt=""></div>
            <div class="block-image image-part-2-2 align-center"><img data-preload="./static/img/part-2-2.png" alt=""></div>
            <div class="block-image image-thumb"><img data-preload="./static/img/thumb.png" alt=""></div>
          </section>
          <section class="part part3">
            <div class="block-image image-part-3-1 align-center"><img data-preload="./static/img/part-3-1.png" alt=""></div>
            <div class="block-image image-part-3-2 align-center"><img data-preload="./static/img/part-3-2.png" alt=""></div>
            <div class="block-image image-thumb"><img data-preload="./static/img/thumb.png" alt=""></div>
          </section>
        </section>
      </section>
      <section class="page page6">
        <div class="block-image image-logo"><img data-preload="./static/img/logo.png" alt=""></div>
        <div class="block-image image-sub-title"><img data-preload="./static/img/sub-title.png" alt=""></div>
        <div class="block-image image-main-title-2 align-center"><img data-preload="./static/img/main-title-2.png" alt=""></div>
        <div class="form align-center">
          <div class="form-title">活动名称</div>
          <div class="form-item"><input id="brand" type="text" placeholder="请输入你的品牌/门店名"></div>
          <div class="form-item"><input id="number" type="text" placeholder="请输入预计到场人数"></div>
          <div class="submit-button">确认提交</div>
        </div>
      </section>
    </section>
  </section>
  <div id="loader" class="loader">
    <div class="loader-inner">
      <div class="loader-line-wrap"><div class="loader-line"></div></div>
      <div class="loader-line-wrap"><div class="loader-line"></div></div>
      <div class="loader-line-wrap"><div class="loader-line"></div></div>
      <div class="loader-line-wrap"><div class="loader-line"></div></div>
      <div class="loader-line-wrap"><div class="loader-line"></div></div>
    </div>
  </div>
  <script src="./static/js/kgesture.js"></script>

  <script>
    // alert(window.innerWidth + ',' + window.innerHeight)

  
    "use strict";

    const getDom = function (selector) {
      return document.querySelector(selector);
    }

    const getDoms = function (selector) {
      return Array.from(document.querySelectorAll(selector));
    }

    var oDomLayerLoading = getDom("#loader");

    var oPreload = new PreLoad([
      "./static/img/bg_top_1.png",
      "./static/img/bg_top_2.png",
      "./static/img/bg_bottom.png",
    ]);
    oPreload.setCallback({
        finish: function(preload){
          setTimeout(function(){
            oDomLayerLoading.style.display = "none";
            setTimeout(() => {
              skipTo(0)
              getDom('.bg').style.transform = 'scale(1)'
            }, 0);
          },1000);
        },
    });

    oPreload.start();

    // const kparallax1 = new KParallax({
    //   selector: '.k-parallax',
    //   perspective: 5,
    //   offsetBeta: 0,
    //   offsetGamma: 0,
    //   debug: true,
    // })
    // kparallax1.go()

    // const kparallax2 = new KParallax({
    //   selector: '.k-parallax-2',
    //   perspective: 5,
    //   offsetBeta: 30,
    //   offsetGamma: -10
    // })
    // kparallax2.go()

    let pages = getDoms('.page')
    let max = pages.length - 1
    let npmax = getDoms('.part').length - 1;
    let currentPage = null
    const skipTo = function (p) {
      if (currentPage) currentPage.classList.remove('active');
      currentPage = getDoms('.page')[p]
      currentPage.classList.add('active');
      getDom('.swiper').style.transform = `translate(0, -${ p * (100 / (pages.length)) }%)`;
    }

    let currentPart = null
    const skipToPart = function (p) {
      console.log(p)
      if (currentPart) currentPart.classList.remove('active');
      currentPart = getDoms('.part')[p]
      currentPart.classList.add('active');
      getDom('.parts').style.transform = `translate(-${ p * (100 / (npmax + 1)) }%, 0)`;
    }

    let n = 0;
    var _kGesture = new kGesture()
    _kGesture.bindGesture('swipUp', function (e) {
      console.log('swipUp', e)
      n =  n < max ? n + 1: max;
      skipTo(n)
    })

    _kGesture.bindGesture('swipDown', function (e) {
      n =  n > 1 ? n - 1: 0;
      skipTo(n)
    })

    let np = 0;

    _kGesture.bindGesture('swipLeft', function (e) {
      if (n === 4) {
        np =  np < npmax ? np + 1: npmax;
        skipToPart(np)
      }
    })

    _kGesture.bindGesture('swipRight', function (e) {
      if (n === 4) {
        np =  np > 1 ? np - 1: 0;
        skipToPart(np)
      }
    })

    getDom('.submit-button').addEventListener('click', (e) => {
      const brand = getDom('#brand').value
      const number = getDom('#number').value

      console.log(brand, number)
    })
  </script>
</body>
</html>