<!DOCTYPE html>
<html>
<head>
    <title>自适应布局一</title>
    <meta charset="utf-8" />
    <style>
        html,body{ height: 100%; }
        body{
            margin: 0;
            text-align: center;
            color: #fff;
        }
        .left{
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            height: 100%;
            background-color: #000;
        }
        .main{
            margin-left: 200px;
            height: 100%;
            background-color: #ff0000;
        }
    </style>
</head>
<body>
    <!-- 左边栏定宽 右边内容宽度自适应 -->
    <div class="left">
        左边栏
    </div>
    <div class="main">
        右边内容
    </div>
</body>
</html>