<!-- author kim.zhang-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>分享跳转demo</title>
</head>
<body>
  答题页面
  <script src="./static/js/jquery-2.1.3.min.js"></script>
  <script src="./static/js/share.js"></script>
  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script>
    $(function () {
      var url = encodeURIComponent(location.href.split("#")[0]);
      $.ajax({
        url: "http://wx.zhangzhenkai.com/sign?url=" + url,
        // url: "http://www.maxbund.com/token/index02.php?url=" + url,
        async: false,
        // type: "POST",
        type: "GET",
        dataType: "json",
        data: {},
        success: function (res) {
          const data = res.result;
          var appId = data["appId"];
          var timestamp = data["timestamp"];
          var nonceStr = data["nonceStr"];
          var signature = data["signature"];
          var share_title = '“答题title';
          var share_desc = '答题desc';
          var share_link = 'http://demo.zhangzhenkai.com/views/project/jump/index.html';
          var share_imgUrl = 'http://demo.zhangzhenkai.com/views/project/ptarchitects3/static/img/share.jpeg';
          share(appId, timestamp, nonceStr, signature, share_title, share_desc, share_link, share_imgUrl);
        },
        error: function () {
          alert("ajax执行失败");
        }
      });
    });
  </script>
</body>
</html>