<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>布道中国</title>
  <!-- <link rel="stylesheet" href="./style/animation.css"> -->
  <link rel="stylesheet" href="./style/index.css">
  <link rel="stylesheet" href="./style/loading.css">
  <link rel="stylesheet" href="./style/transition.css">
  <script src="./js/kpreload.js"></script>
  <script src="./js/size.js"></script>
</head>
<body>
  <!-- data-group="p3" data-group-name="p3" data-begin="p3.enter" data-anim-type="transition" data-hide="transform:translate(0,0)" data-show="transform:translate(-30rem,0)" data-dur="16" data-delay="1.7" -->
  <section class="container">
    <section class="page page1" data-el-name="p1" data-group-name="p1" data-begin="p1.enter" data-target="1">
      <article class="p1-text1 article-text1">
        <p data-group="p1" data-index="0" data-hide="fade-out-to-right" data-show="fade-in-from-right" data-delay="0" data-dur="0.5">从第一个单细胞生命</p>
        <p class="b1" data-group="p1" data-index="1" data-hide="fade-out-to-right" data-show="fade-in-from-right" data-delay="0.3" data-dur="0.5">在大海诞生</p><br />
        <p class="b1" data-group="p1" data-index="2" data-hide="fade-out-to-right" data-show="fade-in-from-right" data-delay="0.3" data-dur="0.5">到旅行者号飞出太阳系</p>
        <p class="b2" data-group="p1" data-index="3" data-hide="fade-out-to-right" data-show="fade-in-from-right" data-delay="0.3" data-dur="0.5">生命的刻度尺</p>
        <p data-group="p1" data-index="4" data-hide="fade-out-to-right" data-show="fade-in-from-right" data-delay="0.3" data-dur="0.5">从未停止过丈量深邃的星空</p>
        <!-- <p data-group="p1" data-index="5" data-hide="fade-out-to-right" data-show="fade-in-from-right" data-delay="0.3" data-dur="0.5">无时无刻不在发生</p> -->
      </article>
      <article class="p1-text2 article-text1" data-group="p1" data-index="9" data-hide="fade-out" data-show="fade-in" data-delay="2" data-dur="0.5">
        无时无刻不在发生
      </article>
      <section class="p1-img1 section-img">
      </section>
      <section class="p1-img2 section-img" data-group="p1" data-index="7" data-show="fade-in" data-hide="fade-out" data-delay="2.5" data-dur="1">
        <img src="./static/img/img2.png" alt="">
      </section>
      <section class="p1-img2 section-img" data-group="p1" data-index="8" data-show="fly-out" data-hide="fly-out" data-delay="0" data-dur="1" data-iteration-count="2">
        <img src="./static/img/img2.png" alt="">
      </section>
      <section class="p1-img3 section-img" data-click="switch"  data-target="1" data-group="p1" data-index="10" data-show="breath" data-hide="fade-out" data-stay="breath" data-dur="0.5" data-delay="0" data-iteration-count="infinite">
        <img src="./static/img/breath.png" alt="">
      </section>
      <section class="p1-img4 section-img" data-group="p1" data-index="6" data-anim-type="gif" data-delay="0">
        <img src="./static/img/evolution.gif" alt="">
      </section>
    </section>
    <section class="page page2" data-el-name="p2" data-enter="switch" data-leave-delay="2.5" data-target="2" data-group-name="p2" data-begin="p2.enter">
      <article class="p2-text1 article-text1">
        <p data-group="p2" data-index="0" data-show="fade-in-from-right" data-hide="fade-out-to-right" data-dur="0.5" data-delay="0.5" data-timing-fn="ease-in-out">对于未来的探索</p>
        <p data-group="p2" data-index="1" data-show="fade-in-from-right" data-hide="fade-out-to-right" data-dur="0.5" data-delay="0.5" data-timing-fn="ease-in-out">从未止步</p>
      </article>
      <article class="p2-text2 article-text1">
        <p data-group="p2" data-index="2" data-show="fade-in-from-right" data-hide="fade-out-to-right" data-dur="0.5" data-delay="0.5" data-timing-fn="ease-in-out">每一次进步</p>
        <p data-group="p2" data-index="3" data-show="fade-in-from-right" data-hide="fade-out-to-right" data-dur="0.5" data-delay="0.5" data-timing-fn="ease-in-out">皆因一个伟大的念想</p>
      </article>
      <!-- <section class="p2-img1 section-img">
        <img src="./static/img/brand.png" alt="">
      </section> -->
      <section class="p2-img2 section-img">
        <img src="./static/img/earth.gif" alt="">
      </section>
      <section class="p2-img3 section-img">
        <img src="./static/img/rocket.gif" alt="">
      </section>
    </section>
    <!-- data-leave-delay="10" data-target="3" -->
    <section class="page page3" data-el-name="p3" data-target="3">
      <section class="p3-img1 section-img" data-group="p3-ranbow" data-group-name="p3-ranbow" data-anim-type="animationMotion" data-begin="p3.enter,p3-p1.click,p3-p2.click,p3-p3.click,p3-p4.click,p3-p5.click" data-end="p3.leave" data-delay="1">
        <svg id="rainbow-path" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 -20 3765.27 145.25">
          <defs>
            <radialGradient id="rainbow" cx="1882.64" cy="62.63" r="1331.96" gradientUnits="userSpaceOnUse">
              <stop offset="0.01" stop-color="#f10000"/>
              <stop offset="0.29" stop-color="#ffff6e"/>
              <stop offset="0.47" stop-color="#46bbff"/>
              <stop offset="0.67" stop-color="#b82fff"/>
              <stop offset="1" stop-color="#f39800"/>
            </radialGradient>
          </defs>
          <path class="svg--rainbow" d="M2.65,41.25c132-96,287.41,32.3,382,30,187.45-4.58,264.65-143.36,749,.08,405,119.92,392-105.87,754,1.92,366,109,329-129,750,3.07,407.56,127.86,376-205.07,758.22-7.58,0,0,181.81,97.51,367.81,25.51"/>
        </svg>
        <canvas id="path" width="3760" height="300"></canvas>
        <canvas id="motion" width="3760" height="300"></canvas>
      </section>
      <section class="part part1" data-el-name="p3-p1" data-group-name="p3-p1" data-begin="p3-p1.stop" data-animation="runGroup">
        <section class="p3-p1-img1 section-img" data-group="p3-p1" data-index="0" data-show="fade-in" data-hide="fade-out" data-dur="1" data-delay="0.5" data-timing-fn="ease-in-out">
          <img src="./static/img/t1.png" alt="">
        </section>
        <article class="p3-p1-text1 article-text is-li" data-group="p3-p1" data-index="1" data-show="fade-in" data-hide="fade-out" data-dur="0.5" data-delay="0.5" data-timing-fn="ease-in-out">
          <p>2017年首个选择性肌松拮抗药</p>
          <p>在中国获批</p>
        </article>
        <article class="p3-p1-text2 article-text is-li" data-group="p3-p1" data-index="3" data-show="fade-in" data-hide="fade-out" data-dur="0.5" data-delay="0.5" data-timing-fn="ease-in-out">
          <p>与中国麻醉科医生一同“启布•共创”</p>
        </article>
        <article class="p3-text1" data-group="p3-p1" data-index="4" data-show="fade-in" data-hide="fade-out" data-dur="0.5" data-delay="0.5" data-timing-fn="ease-in-out"><img src="./static/img/arrow.png" alt=""></article>
      </section>
      <section class="part part2" data-el-name="p3-p2" data-group-name="p3-p2" data-begin="p3-p2.stop" data-animation="runGroup">
        <section class="p3-p2-img1 section-img" data-group="p3-p2" data-index="0" data-show="fade-in" data-hide="fade-out" data-dur="1" data-delay="0" data-timing-fn="ease-in-out">
          <img src="./static/img/t2.png" alt="">
        </section>
        <article class="p3-p2-text1 article-text is-li" data-group="p3-p2" data-index="1" data-show="fade-in" data-hide="fade-out" data-dur="0.3" data-delay="0.3" data-timing-fn="ease-in-out">
          <p>麻醉学科从“手术室医学”发展成</p>
          <p>“围术期医学”</p>
        </article>
        <article class="p3-p2-text2 article-text is-li" data-group="p3-p2" data-index="2" data-show="fade-in" data-hide="fade-out" data-dur="0.3" data-delay="0.3" data-timing-fn="ease-in-out">
          <p>2017年发表《肌肉松弛合理应用的</p>
          <p>专家共识2017版》修订</p>
        </article>
        <article class="p3-p2-text3 article-text is-li" data-group="p3-p2" data-index="3" data-show="fade-in"  data-hide="fade-out" data-dur="0.3" data-delay="0.3" data-timing-fn="ease-in-out">
          <p>2018年发表《加速康复外科中国专家</p>
          <p>共识及路径管理指南(2018版)》</p>
        </article>
        <article class="p3-text1" data-group="p3-p2" data-index="4" data-show="fade-in" data-hide="fade-out" data-dur="0.5" data-delay="0.5" data-timing-fn="ease-in-out"><img src="./static/img/arrow.png" alt=""></article>
      </section>
      <section class="part part3" data-el-name="p3-p3" data-group-name="p3-p3" data-begin="p3-p3.stop" data-animation="runGroup">
        <section class="p3-p3-img1 section-img" data-group="p3-p3" data-index="0" data-show="fade-in" data-hide="fade-out" data-dur="1" data-delay="0" data-timing-fn="ease-in-out">
          <img src="./static/img/t3.png" alt="">
        </section>
        <article class="p3-p3-text1 article-text" data-group="p3-p3" data-index="1" data-show="fade-in" data-hide="fade-out" data-dur="0.5" data-delay="0.3" data-timing-fn="ease-in-out">
          <p>助力学科长远发展</p>
        </article>
        <article class="p3-p3-text2 article-text" data-group="p3-p3" data-index="2" data-show="fade-in" data-hide="fade-out" data-dur="0.5" data-delay="0.3" data-timing-fn="ease-in-out">
          <p>2018年精准肌松·吴阶平医学基金会</p>
          <p>全麻肌松拮抗及加速术后康复基金资助</p>
          <p>项目正式启动</p>
        </article>
        <article class="p3-text1" data-group="p3-p3" data-index="4" data-show="fade-in" data-hide="fade-out" data-dur="0.5" data-delay="0.5" data-timing-fn="ease-in-out"><img src="./static/img/arrow.png" alt=""></article>
      </section>
      <section class="part part4" data-el-name="p3-p4" data-group-name="p3-p4" data-begin="p3-p4.stop" data-animation="runGroup">
        <section class="p3-p4-img1 section-img" data-group="p3-p4" data-index="0" data-show="fade-in" data-hide="fade-out" data-dur="1" data-delay="0" data-timing-fn="ease-in-out">
          <img src="./static/img/t4.png" alt="">
        </section>
        <article class="p3-p4-text1 article-text" data-group="p3-p4" data-index="1" data-show="fade-in" data-hide="fade-out" data-dur="0.5" data-delay="0.3" data-timing-fn="ease-in-out">
          <p>携手全国麻醉大咖共同编撰</p>
          <p>《腹腔镜手术麻醉管理ERAS临床实践》</p>
        </article>
        <article class="p3-text1" data-group="p3-p4" data-index="2" data-show="fade-in" data-hide="fade-out" data-dur="0.5" data-delay="0.5" data-timing-fn="ease-in-out"><img src="./static/img/arrow.png" alt=""></article>
      </section>
      <section class="part part5" data-el-name="p3-p5" data-group-name="p3-p5" data-begin="p3-p5.stop" data-animation="runGroup">
        <section class="p3-p5-img1 section-img" data-group="p3-p5" data-index="0" data-show="fade-in" data-hide="fade-out" data-dur="1" data-delay="0" data-timing-fn="ease-in-out">
          <img src="./static/img/t5.png" alt="">
        </section>
        <!-- data-click="switch" data-target="3" -->
        <section class="p3-p5-img2 section-img" data-group="p3-p5" data-index="2" data-show="fade-in" data-hide="fade-out" data-stay="strong-breath" data-dur="1" data-delay="0.3" data-timing-fn="ease-in-out">
          <img src="./static/img/fingerprint.png" alt="">
        </section>
        <section class="p3-p5-img3 section-img" data-group="p3-p5" data-index="3" data-show="fade-in" data-hide="fade-out" data-dur="1" data-delay="0.5" data-timing-fn="ease-in-out" data-target="3">
          <img src="./static/img/2.0.png" alt="">
        </section>
        <article class="p3-p5-text1 article-text" data-group="p3-p5" data-index="1" data-show="fade-in" data-hide="fade-out" data-dur="1" data-delay="0.5" data-timing-fn="ease-in-out">
          <p>非凡开启，不凡相伴</p>
          <p>让我们一同砥砺前行</p>
        </article>
      </section>
      <section class="layer-icons">
        <section class="layer-img section-img icon-3"><img data-preload="./static/img/icon-3.png" /></section>
        <section class="layer-img section-img icon-4"><img data-preload="./static/img/icon-4.png" /></section>
        <section class="layer-img section-img icon-5"><img data-preload="./static/img/icon-5.png" /></section>
        <section class="layer-img section-img icon-6"><img data-preload="./static/img/icon-6.png" /></section>
        <section class="layer-img section-img icon-7"><img data-preload="./static/img/icon-7.png" /></section>
        <section class="layer-img section-img icon-8"><img data-preload="./static/img/icon-8.png" /></section>
        <section class="layer-img section-img icon-9"><img data-preload="./static/img/icon-9.png" /></section>
      </section>
    </section>
    <section class="page page4" data-el-name="p4" data-group-name="p4" data-begin="p4.enter">
      <section class="p4-img1 section-img"><img src="./static/img/p4-1.png" alt="" data-group="p4" data-index="0" data-show="strong-fly-in" data-hide="fly-out" data-dur="0.5" data-delay="0.3" data-timing-fn="ease-in"></section>
      <section class="p4-img2 section-img"><img src="./static/img/p4-2.png" alt="" data-group="p4" data-index="1" data-show="strong-fly-in" data-hide="fly-out" data-dur="0.5" data-delay="0.3" data-timing-fn="ease-in"></section>
      <section class="p4-img3 section-img"><img src="./static/img/p4-3.png" alt="" data-group="p4" data-index="2" data-show="strong-fly-in" data-hide="fly-out" data-dur="0.5" data-delay="0.3" data-timing-fn="ease-in"></section>
      <section class="p4-img4 section-img"><img src="./static/img/p4-4.png" alt="" data-group="p4" data-index="3" data-show="strong-fly-in" data-hide="fly-out" data-dur="0.5" data-delay="0.3" data-timing-fn="ease-in"></section>
      <section class="p4-img5 section-img"><img src="./static/img/p4-5.png" alt="" data-group="p4" data-index="4" data-show="strong-fly-in" data-hide="fly-out" data-dur="0.5" data-delay="0.3" data-timing-fn="ease-in"></section>
      <section class="p4-text1 article-text">
        <p data-group="p4" data-index="5" data-show="fade-in-from-right" data-hide="fade-out-to-right" data-dur="0.5" data-delay="0.5" data-timing-fn="ease-in-out"><i class="icon-2"></i><label>2020年8月6-7日</label></p>
        <p data-group="p4" data-index="6" data-show="fade-in-from-right" data-hide="fade-out-to-right" data-dur="0.5" data-delay="0.5" data-timing-fn="ease-in-out"><i class="icon-1"></i><label>上海静安香格里拉酒店</label></p>
      </section>
      <!-- <section class="p4-text2" onclick="history.go(0)">
        <p data-group="p4" data-index="7" data-show="fade-in-from-right" data-hide="fade-out-to-right" data-dur="0.5" data-delay="0.5" data-timing-fn="ease-in-out"><label> &lt;&lt;返回首页 </label></p>
      </section> -->
    </section>
  </section>
  <div id="loader" class="loader">
    <div class="loader-inner">
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
    </div>
  </div>
  <script src="js/kgesture.js"></script>
  <script src="js/animationMotion.js"></script>
  <script src="js/index.js"></script>
  <script src="js/jquery-2.1.3.min.js"></script>
  <script src="js/share.js"></script>
  <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
  <script>
    $(function () {
      var url = encodeURIComponent(location.href.split("#")[0]);
      $.ajax({
        url: "http://www.maxbund.com/token/index02.php?url=" + url,
        async: false,
        type: "POST",
        dataType: "json",
        data: {},
        success: function (data) {
          var appId = data["appId"];
          var timestamp = data["timestamp"];
          var nonceStr = data["nonceStr"];
          var signature = data["signature"];
          var share_title = '未来已来，开启麻醉2.0时代';
          var share_desc = '布道中国';
          var share_link = 'http://www.maxbund.com/buruiting2020/index.html';
          var share_imgUrl = 'http://www.maxbund.com/buruiting2020/static/img/tt.jpg';
          share(appId, timestamp, nonceStr, signature, share_title, share_desc, share_link, share_imgUrl);
        },
        error: function () {
          alert("ajax执行失败");
        }
      });
    });
  </script>
  <script>
    window.onload = function () {
    ///*播放音乐*/
    var fnCreateAudio = function () {
      var _audio;
      _audio = new Audio();
      var _iconMusic = $(".iconMusic");
      _audio.src = "audio/1.mp3";
      _audio.autoplay = "autoplay";
      _audio.loop = "loop";
      document.body.appendChild(_audio);
      _iconMusic.className = "iconMusic playing";
      _audio.play();
      $('.iconMusic').bind('click', function () {
        console.log(1)
        if ($('.iconMusic').hasClass('playing')) {
            $('.iconMusic').removeClass('playing').addClass('stoped');
            _audio.pause();
        }
        else {
            $('.iconMusic').removeClass('stoped').addClass('playing');
            _audio.play();
        }
      })
    }
    document.addEventListener('WeixinJSBridgeReady', function () {fnCreateAudio();}, false);
  }
  </script>
</body>
</html>