<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>SVG星空</title>
		<style type="text/css">
			*{padding: 0;margin: 0;}
			html,body{
				width: 100%;
				height: 100%;
				background: #001122;
			}
      @keyframes blink {
        0% {
          opacity: 0;
          transform: scaleX(1);
        }
        50% {
          opacity: 1;
          transform: scaleX(1.5);
        }
        100% {
          opacity: 0;
          transform: scaleX(1);
        }
      }
		</style>
		<script type="text/javascript">
			window.onload = function(){
				var NS = "http://www.w3.org/2000/svg";
				var svg = document.getElementById("svg");
				var group = document.getElementById("star-group");
				var count = 2; //星星数量
				var svg_width = parseFloat(getComputedStyle(svg).width);
				var svg_height = parseFloat(getComputedStyle(svg).height);
				
				//生成min-max的随机数
				function random(min,max){
					return Math.random()*(max-min)+min;
				}
				
        // var g = document.createElement("g");
				while(count--){
					var use = document.createElementNS(NS,"use");
					use.setAttribute("href","#star");
					//随机设置星星的位置与大小
          use.setAttribute('class', `cross-star`)
          use.setAttribute('x', random(0,svg_width-20))
          use.setAttribute('y', random(0,svg_height-20))
          // use.setAttribute('style', ` animation: blink 1s linear infinite;`)
					// use.setAttribute("transform","translate("+random(0,svg_width-20)+","+random(0,svg_height-20)+")");
					//随机设置星星的透明度
					// use.setAttribute("opacity",random(0,1).toString());
          // g.appendChild(use)
					svg.appendChild(use);
				}
			}
		</script>
	</head>
	<body>
		<svg id="svg">
			<!-- <symbol id="star"> -->
        <!-- <g> -->
        <polygon points="10,0 12,8 20,10 12,12 10,20 8,12 0,10 8,8" fill="white"></polygon>
        <!-- </g> -->
			<!-- </symbol> -->
			<!-- <g id="star-group"></g> -->
		</svg>
	</body>
</html>