<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        html, body {
            width: 100%;
            height: 100%;
            margin: 0;
        }
    </style>
</head>
<body>
    <iframe style="width: 100%;height: 99%" src="https://mooc1.chaoxing.com/mycourse/studentstudy?chapterId=468016549&courseId=219697946&clazzid=44443999&enc=cc351896bcb0fae36d901a2325f84c2c&mooc2=1&cpi=110775400&openc=6f6af352ee2879a709b3cea2aee4c4da" frameborder="0"></iframe>
</body>
</html>