<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>storage</title>
</head>
<body>
  <h1>Local Storage</h1>
  <h2 id="a123"></h2>
  <script>
    let token = localStorage.getItem('token')
    if (!token) {
      token = 100 * Math.random();
      localStorage.setItem('token', token)
    }
    document.getElementById('a123').innerHTML = token;
    
    document.onclick = function () {
      localStorage.removeItem('token')
    }
  </script>
</body>
</html>