<html>

    <head></head>
    <body>
        <h1>
            You don't know javascript
        </h1>
        <h2>
            Practise
        </h2>
        <div>
            <h3>
                how try catch and finally works
            </h3>
            <div>
                run the code below, guess the result.
                <pre>
                    function foo() {
                        try {
                            return 42;
                        }
                        finally {
                            console.log('hello');
                        }
                        console.log("never runs")
                    }
                    console.log( foo() )
                </pre>

                the result will be:
                <pre>
                    // 'hello'
                    // 42
                </pre>
            </div>
        </div>
    </body>
</html>