html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.k-image {
  position: absolute;
}

.swiper {
  display: flex;
  width: 400%;
  height: 100%;
}

.page {
  flex: 1;
}

.page01 {
  background: url('../img/bg1.jpg');
  background-size: 100% 100%;
}

.cloud1 {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url('../img/cloud1.png');
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 200% 1.81rem;
  animation: cloud1 45s linear infinite;
}

.cloud2 {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: url('../img/cloud2.png');
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: 200% 1.91rem;
  animation: cloud2 30s linear infinite;
}

.page02 {
  background-color: #00F;
}

@keyframes cloud1 {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 200%;
  }
}

@keyframes cloud2 {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 200%;
  }
}