<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    html, body {
      margin: 0;
      background: #001122;
      width: 100%;
      height: 100%;
    }
  </style>
</head>
<body>
  <script src="./metor.js"></script>
  <!-- <svg id="svg" width="100%" height="100%"></svg> -->
  <script>
    const dk = new DarkSky();
  </script>
</body>
</html>